.cover-img-container {
    height: 100vh;
    width: 65vw;
    margin: 0 auto;
    margin-top: calc(var(--navbar-offset) * -1);    
}
.cover-img-container .cover-img img {
    position: relative;
    width: 100%;
}
.cover-img-container img {
    width: 100%;
}
.cover-img .details {
    position: absolute;
    height: 200px;
    width: 200px;
    top: 18.5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
}

@media screen and (orientation: portrait) {
    .cover-img-container .cover-img img {
        display: none;
    }
    h3 {
        color: black;
    }
}